2.计算相似度：

1)相似度度量：

2)获得相似样本：得到每个历史样本与待测样本最相近的片段，选择最相近的30个历史样本

3)RUL估计：加权核密度估计 对最近的历史样本的相似度进行min-max归一化处理作为权重，加权得到样本的RUL

## 1 Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import time
import math
from sklearn.model_selection import train_test_split
from fastdtw import fastdtw
import tslearn.metrics #DTW
from scipy.spatial.distance import euclidean,correlation,cosine,cdist

## 读取数据

In [2]:
processed_data_file = '1_processed_data'
os.path.exists(processed_data_file)

True

In [3]:
tot_train_df = pd.read_csv(processed_data_file+'/train_PCA_data.csv',index_col=0)

In [4]:
tot_train_df.head()

,cycle,s2,s3,s4,s7,s11,s12,s15,RUL,HI
id,,,,,,,,,,
1,1,-0.934031,-0.518202,-0.815417,0.909791,-0.889393,1.011533,-0.829887,191,-2.246080
1,2,-0.928596,-0.523217,-0.821319,0.906845,-0.898700,1.004192,-0.833643,190,-2.249248
1,3,-0.918112,-0.532695,-0.832544,0.901018,-0.916229,0.989628,-0.840494,189,-2.254698
1,4,-0.903251,-0.545631,-0.848009,0.892464,-0.939992,0.968152,-0.849236,188,-2.260837
1,5,-0.884803,-0.560742,-0.866250,0.881470,-0.967400,0.940388,-0.858336,187,-2.265682

In [5]:
tot_cycles = pd.DataFrame([len(tot_train_df.loc[i]) for i in tot_train_df.index.unique()],columns =['tot_cycle'])
tot_cycles['rul_label'] = pd.DataFrame(pd.qcut(tot_cycles['tot_cycle'],4, labels=['1','2','3','4']))
tot_cycles.index = tot_train_df.index.unique()#range(1,101)

In [6]:
random_state = 1
tot_train_id = tot_train_df.index.unique()
# stratify 按照数据分布进行划分
train_id, test_id = train_test_split(tot_train_id, test_size = 0.2, random_state=random_state, stratify = tot_cycles['rul_label'])
train_df = tot_train_df.loc[train_id]
test_df = tot_train_df.loc[test_id]

tot_train_id = tot_train_df['id'].unique()
train_id, test_id = train_test_split(tot_train_id, test_size = 0.2, random_state=random_state)
train_df = tot_train_df[tot_train_df['id'].isin(train_id)]
test_df = tot_train_df[tot_train_df['id'].isin(test_id)]

In [7]:
test_id

Int64Index([11, 20, 17, 41, 42, 97, 80, 45, 48, 39, 36, 14, 31, 43, 29, 76, 16,
            55, 32, 24],
           dtype='int64', name='id')

In [8]:
selected_ftr_name = ['HI']

## 计算相似度

### 计算等长序列的DTW距离

In [9]:
#DTW
MAX_DIST=99
sim_num = 30
on_win_size = 30
on_win_stride = 10
his_win_size = on_win_size
his_win_stride = 1
scale = 1#.5
ftr_len = len(selected_ftr_name)

In [10]:
res_file = '2_res'
if os.path.exists(res_file)==False:
    os.makedirs(res_file)
#dtw_dist_matrix = np.load(res_file+'dtw_dist_matrix.npy')

### 计算欧式距离

In [16]:
dist_info_col = ['on_id','his_id','on_seg','his_seg','on_RUL','his_RUL','dist']
eu_dist_df = pd.DataFrame(columns=dist_info_col)
N_on_segs = {}
t_begin = time.time()
#dtw_dist_dict = {}
for on_id in test_id:
    t0 = time.time()
    on_unit = test_df.loc[on_id]
    on_len = len(on_unit)
    print('---',on_id,'---')
    n_segs = int((on_len - on_win_size)/on_win_stride+1)
    N_on_segs[on_id] = n_segs
    if on_len<on_win_size:
        continue
    #dtw_dist_dict[on_id] = {}
    
    for his_id in train_id:
        #dtw_dist_dict[on_id][his_id] = {}
        his_unit = train_df.loc[his_id]
        his_len = len(his_unit)
        cur_his_seg = 0
        for on_seg in range(0, on_len - on_win_size, on_win_stride):
            #dtw_dist_dict[on_id][his_id][on_seg] = {}
            dist_list = []
            for his_seg in range(cur_his_seg, his_len - his_win_size):
                on_array = on_unit[on_seg : on_seg + on_win_size][selected_ftr_name]
                his_array = his_unit[his_seg : his_seg + his_win_size][selected_ftr_name]
                dist_list += [euclidean(on_array, his_array)]
            min_his_seg = np.argsort(dist_list)[0]
            eu_dist_df = eu_dist_df.append(pd.DataFrame([[on_id, his_id, on_seg, min_his_seg+cur_his_seg, on_len - on_seg - on_win_size, his_len - (min_his_seg+cur_his_seg) - his_win_size,dist_list[min_his_seg]]],columns = dist_info_col))
            #dtw_dist_dict[on_id][his_id][on_seg] = (min_his_seg+cur_his_seg, dist_list[min_his_seg])
            cur_his_seg = max(min_his_seg+cur_his_seg - 20, 0)
            #print(his_id, on_seg, cur_his_seg)
            
    t1= time.time()
    print('unit_id:',on_id,'segs:',n_segs,'time:',t1-t0,'avg:',(t1-t0)/n_segs)
t_end = time.time()
print('tot_time:',t_end-t_begin)

--- 11 ---
unit_id: 11 segs: 22 time: 353.3406603336334 avg: 16.060939106074247
--- 20 ---
unit_id: 20 segs: 21 time: 206.60194396972656 avg: 9.838187808082218
--- 17 ---
unit_id: 17 segs: 25 time: 416.3046338558197 avg: 16.65218535423279
--- 41 ---
unit_id: 41 segs: 19 time: 304.62265610694885 avg: 16.03277137404994
--- 42 ---
unit_id: 42 segs: 17 time: 242.84213662147522 avg: 14.28483156596913
--- 97 ---
unit_id: 97 segs: 18 time: 291.1205995082855 avg: 16.173366639349197
--- 80 ---
unit_id: 80 segs: 16 time: 164.27591609954834 avg: 10.267244756221771
--- 45 ---
unit_id: 45 segs: 13 time: 237.88858819007874 avg: 18.299122168467594
--- 48 ---
unit_id: 48 segs: 21 time: 378.2005536556244 avg: 18.00955017407735
--- 39 ---
unit_id: 39 segs: 10 time: 106.9685845375061 avg: 10.696858453750611
--- 36 ---
unit_id: 36 segs: 13 time: 146.5989692211151 avg: 11.276843786239624
--- 14 ---
unit_id: 14 segs: 16 time: 163.64015340805054 avg: 10.227509588003159
--- 31 ---
unit_id: 31 segs: 21 time: 363.7337427139282 avg: 17.32065441494896
--- 43 ---
unit_id: 43 segs: 18 time: 301.17195558547974 avg: 16.731775310304428
--- 29 ---
unit_id: 29 segs: 14 time: 173.7738058567047 avg: 12.412414704050336
--- 76 ---
unit_id: 76 segs: 19 time: 173.95472764968872 avg: 9.155511981562563
--- 16 ---
unit_id: 16 segs: 18 time: 154.70370197296143 avg: 8.594650109608969
--- 55 ---
unit_id: 55 segs: 17 time: 241.20292735099792 avg: 14.188407491235171
--- 32 ---
unit_id: 32 segs: 17 time: 161.46371603012085 avg: 9.497865648830638
--- 24 ---
unit_id: 24 segs: 12 time: 195.92577958106995 avg: 16.327148298422497
tot_time: 4778.343750953674

In [17]:
eu_dist_df.to_csv(res_file+'/eu_dist_'+str(random_state)+'.csv',index=False,header=True)

def RHS_score(y_true,y_pred):
    s = 0
    delta = y_pred-y_true
    for i in range(len(delta)):
        if delta[i]<0:
            s+=math.e**(-delta[i]/13)-1
        else:
            s+=math.e**(delta[i]/10)-1
    #s = s/len(delta)
    return s

In [40]:
math.e**(-delta[delta>0]/13)

0     0.921103
0     0.731855
0     0.748054
0     0.742566
0     0.616551
0     0.743073
0     0.577489
0      0.29207
0     0.535422
0      0.74656
0    0.0174867
0    0.0403515
0     0.336136
0    0.0968499
0     0.298889
0     0.563359
0    0.0806627
0     0.192155
0     0.940165
0     0.467715
0     0.253509
0     0.180933
0     0.104014
0     0.685175
0      0.62109
0     0.293838
0      0.63994
0     0.958539
0     0.549544
0     0.717478
0     0.710207
0     0.752105
0     0.879973
0     0.158317
0     0.278852
0     0.147025
0       0.1028
0     0.787683
0     0.160626
0    0.0352921
0     0.290811
0    0.0598394
0     0.560784
0     0.721819
dtype: object

In [43]:
def RHS_score(y_true,y_pred):
    delta = y_pred-y_true
    s = sum(math.e**(-delta[delta<0]/13)-1) + sum(math.e**(delta[delta>0]/10)-1)
    return s

In [19]:
def get_score(pred_y,test_y):
    mse_test = np.sum((pred_y - test_y)**2)/len(test_y)
    rmse_test = mse_test**0.5
    mae_test = np.sum(np.absolute(pred_y - test_y))/len(test_y)
    r2_test = 1 - mse_test/np.var(test_y)
    rhs_test = RHS_score( test_y, pred_y)/len(pred_y)
    print('%.3f'%rmse_test)
    print('%.5f'%rhs_test)

In [22]:
param_grid = {
    'K': [i for i in range(50, 101, 10)],
    'alpha': [0, 0.5, 1, 1.5, 2]
}

In [42]:
math.e**(-delta[delta>0]/13).head()

0    0.921103
0    0.731855
0    0.748054
0    0.742566
0    0.616551
dtype: object

In [46]:
cut_percents = [0.5,0.7,0.9]
eu_score = []
for k in param_grid['K']:
    for alpha in param_grid['alpha']:
        res_info_col = ['on_id','on_seg','y_pred','y_true']
        res_df = pd.DataFrame(columns=res_info_col)
        for on_id in test_id:
            n_seg = len(test_df.loc[on_id])
            for cut_per in cut_percents:
                cur_seg = int(n_seg * cut_per/10)*10 - on_win_size
                tmp_df = eu_dist_df[(eu_dist_df['on_id']==on_id) &(eu_dist_df['on_seg']==cur_seg)].sort_values(by='dist')[:k]
                tmp_rul = sum(tmp_df['his_RUL']*np.exp(-alpha * tmp_df['dist'])/sum(np.exp(-alpha * tmp_df['dist'])))
                #print(cur_seg,tmp_rul, cur_seg+tmp_rul, n_seg - cur_seg - on_win_size)
                res_df= res_df.append(pd.DataFrame([[on_id, cur_seg, tmp_rul, n_seg -cur_seg - on_win_size]],columns = res_info_col))
        eu_score += [(k, alpha, RHS_score( res_df['y_true'], res_df['y_pred'])/len(res_df['y_pred']))]

In [47]:
eu_score

[(50, 0, 16.033057686517164),
 (50, 0.5, 7.641506521257928),
 (50, 1, 6.729597023605551),
 (50, 1.5, 7.3790699400709645),
 (50, 2, 9.77968687255469),
 (60, 0, 25.50458741574202),
 (60, 0.5, 8.953581879434088),
 (60, 1, 6.907890093431264),
 (60, 1.5, 7.319189382351793),
 (60, 2, 9.690991879984066),
 (70, 0, 43.09453404200685),
 (70, 0.5, 10.171817874028143),
 (70, 1, 7.065132763572955),
 (70, 1.5, 7.315140054423481),
 (70, 2, 9.6706490224621),
 (80, 0, 67.88780658639222),
 (80, 0.5, 11.03281022998642),
 (80, 1, 7.156030280051337),
 (80, 1.5, 7.317164614802855),
 (80, 2, 9.666531316404644),
 (90, 0, 67.88780658639222),
 (90, 0.5, 11.03281022998642),
 (90, 1, 7.156030280051337),
 (90, 1.5, 7.317164614802855),
 (90, 2, 9.666531316404644),
 (100, 0, 67.88780658639222),
 (100, 0.5, 11.03281022998642),
 (100, 1, 7.156030280051337),
 (100, 1.5, 7.317164614802855),
 (100, 2, 9.666531316404644)]

### Coarse: 计算DTW距离
对test片段从后往前依次遍历

In [25]:
dist_info_col = ['on_id','his_id','on_seg','his_seg','on_RUL','his_RUL','dist']
dtw_dist_df = pd.DataFrame(columns=dist_info_col)
N_on_segs = {}
t_begin = time.time()
#dtw_dist_dict = {}
for on_id in test_id:
    t0 = time.time()
    on_unit = test_df.loc[on_id]
    on_len = len(on_unit)
    print('---',on_id,'---')
    n_segs = int((on_len - on_win_size)/on_win_stride+1)
    N_on_segs[on_id] = n_segs
    if on_len<on_win_size:
        continue
    #dtw_dist_dict[on_id] = {}
    
    for his_id in train_id:
        #dtw_dist_dict[on_id][his_id] = {}
        his_unit = train_df.loc[his_id]
        his_len = len(his_unit)
        cur_his_seg = 0
        for on_seg in range(0, on_len - on_win_size, on_win_stride):
            #dtw_dist_dict[on_id][his_id][on_seg] = {}
            dist_list = []
            for his_seg in range(cur_his_seg, his_len - his_win_size):
                on_array = on_unit[on_seg : on_seg + on_win_size][selected_ftr_name]
                his_array = his_unit[his_seg : his_seg + his_win_size][selected_ftr_name]
                dist_list += [fastdtw(on_array, his_array)[0]]
            min_his_seg = np.argsort(dist_list)[0]
            dtw_dist_df = dtw_dist_df.append(pd.DataFrame([[on_id, his_id, on_seg, min_his_seg+cur_his_seg, on_len - on_seg - on_win_size, his_len - (min_his_seg+cur_his_seg) - his_win_size,dist_list[min_his_seg]]],columns = dist_info_col))
            #dtw_dist_dict[on_id][his_id][on_seg] = (min_his_seg+cur_his_seg, dist_list[min_his_seg])
            cur_his_seg = max(min_his_seg+cur_his_seg - 20, 0)
            #print(his_id, on_seg, cur_his_seg)
            
    t1= time.time()
    print('unit_id:',on_id,'segs:',n_segs,'time:',t1-t0,'avg:',(t1-t0)/n_segs)
t_end = time.time()
print('tot_time:',t_end-t_begin)

--- 11 ---
unit_id: 11 segs: 22 time: 1174.872921705246 avg: 53.40331462296572
--- 20 ---
unit_id: 20 segs: 21 time: 687.7282238006592 avg: 32.748963038126625
--- 17 ---
unit_id: 17 segs: 25 time: 1381.0634405612946 avg: 55.242537622451785
--- 41 ---
unit_id: 41 segs: 19 time: 1004.3649101257324 avg: 52.861311059249076
--- 42 ---
unit_id: 42 segs: 17 time: 815.7186269760132 avg: 47.98344864564783
--- 97 ---
unit_id: 97 segs: 18 time: 981.8578979969025 avg: 54.54766099982791
--- 80 ---
unit_id: 80 segs: 16 time: 554.0121629238129 avg: 34.625760182738304
--- 45 ---
unit_id: 45 segs: 13 time: 752.2639636993408 avg: 57.86645874610314
--- 48 ---
unit_id: 48 segs: 21 time: 1229.6224746704102 avg: 58.553451174781436
--- 39 ---
unit_id: 39 segs: 10 time: 361.2597219944 avg: 36.12597219944
--- 36 ---
unit_id: 36 segs: 13 time: 493.9931399822235 avg: 37.99947230632488
--- 14 ---
unit_id: 14 segs: 16 time: 583.7238590717316 avg: 36.48274119198322
--- 31 ---
unit_id: 31 segs: 21 time: 1272.7818410396576 avg: 60.608659097126555
--- 43 ---
unit_id: 43 segs: 18 time: 1059.2046747207642 avg: 58.844704151153564
--- 29 ---
unit_id: 29 segs: 14 time: 630.077570438385 avg: 45.00554074559893
--- 76 ---
unit_id: 76 segs: 19 time: 617.5992426872253 avg: 32.505223299327646
--- 16 ---
unit_id: 16 segs: 18 time: 520.3141005039215 avg: 28.90633891688453
--- 55 ---
unit_id: 55 segs: 17 time: 805.2274205684662 avg: 47.3663188569686
--- 32 ---
unit_id: 32 segs: 17 time: 577.4601438045502 avg: 33.96824375320883
--- 24 ---
unit_id: 24 segs: 12 time: 911.7064030170441 avg: 75.97553358475368
tot_time: 16414.869906425476

In [53]:
dtw_dist_df.head()

  on_id his_id on_seg his_seg on_RUL his_RUL       dist
0    81      3      0      94    210      55  10.211874
0    81      3     10      95    200      54   7.321320
0    81      3     20      95    190      54   7.304314
0    81      3     30     100    180      49   5.980598
0    81      3     40     100    170      49   6.067938

In [26]:
dtw_dist_df.to_csv(res_file+'/dtw_dist_'+str(random_state)+'.csv',index=False,header=True)

In [73]:
tmp_df = dtw_dist_df[(dtw_dist_df['on_id']==81) &(dtw_dist_df['on_seg']==70)].sort_values(by='dist')
tmp_df

     on_id his_id on_seg his_seg on_RUL his_RUL       dist
364     81     60     70      30    140     112   0.228318
1435    81     72     70      92    140      91   0.369057
784     81     88     70     101    140      82   0.548866
889     81     71     70       0    140     178   0.552363
1225    81     86     70      87    140     161   0.694432
1288    81     29     70      37    140      96   0.708942
259     81     55     70      49    140     114   0.711918
280     81     96     70     170    140     136   0.727664
868     81     67     70     103    140     180   0.736956
406     81     35     70      67    140      84   0.810296
1120    81     64     70      73    140     180   0.814164
1204    81     69     70     160    140     172   0.873279
679     81     25     70      15    140     185   0.942727
217     81     68     70      27    140     142   0.958023
574     81     92     70     176    140     135   1.051053
343     81     49     70       7    140     178   1.063041
1351    81     21     70      58    140     107   1.242022
70      81     63     70      31    140     113   1.256754
238     81    100     70      55    140     115   1.523289
826     81     75     70       5    140     194   1.579117
595     81     27     70      39    140      87   1.580605
1498    81     17     70     180    140      66   1.875403
1015    81      1     70      91    140      71   2.184303
427     81     87     70      38    140     110   2.501237
616     81     99     70      94    140      61   2.521055
1414    81      7     70     145    140      84   3.011564
805     81      4     70      94    140      65   3.396840
532     81     42     70      88    140      78   3.468649
637     81     44     70     102    140      60   3.474271
742     81     50     70      76    140      92   3.699780
...    ...    ...    ...     ...    ...     ...        ...
49      81     98     70      81    140      45   7.103805
952     81     90     70      82    140      42   7.253240
1645    81     13     70      15    140     118   7.603020
1183    81     14     70       1    140     149   7.835102
721     81     59     70     144    140      57   7.979249
154     81     28     70      97    140      38   8.162723
700     81      5     70     173    140      66   8.232716
1309    81     12     70       0    140     140   8.285063
469     81     78     70     146    140      55   9.686457
973     81      9     70     138    140      33  10.629182
1666    81     38     70       0    140     164  11.410207
1603    81     10     70     133    140      59  11.812593
1267    81     30     70     122    140      42  12.022693
91      81     20     70       0    140     204  12.037991
994     81     61     70     115    140      40  12.783305
1519    81     65     70      86    140      37  13.871147
1393    81     26     70       4    140     165  16.299097
1561    81      6     70       0    140     158  16.677482
196     81     39     70       0    140      98  17.206881
1540    81     80     70      25    140     130  19.348839
658     81     56     70      16    140     229  20.123358
1582    81     76     70      31    140     149  21.690572
1330    81     19     70       0    140     128  22.256529
511     81     84     70      22    140     215  26.247750
1141    81      8     70       4    140     116  26.644165
1624    81     73     70      10    140     173  27.006606
1099    81     62     70       0    140     150  29.066304
763     81     22     70       0    140     172  34.710561
490     81     16     70      12    140     167  36.006214
1036    81     91     70       0    140     105  39.759681

[80 rows x 7 columns]

In [79]:
sum(tmp_df['his_RUL']*np.exp(-tmp_df['dist']))/sum(np.exp(-tmp_df['dist']))

128.6649844554795

In [143]:
(tmp_df['his_RUL'] - tmp_tg)*np.exp(-tmp_df['dist'])*np.exp(-1/tmp_df['time_gap']+0.0001)

26390        11.1166
26391        14.9493
26747        2.42006
26748        5.58862
27357       -29.3959
26538        7.10324
26769        7.09178
27440       -9.42744
26810       -27.4729
27331        36.1392
26811       -23.3253
26770        10.8283
27356       -30.0817
26749        9.22018
26307       -12.0109
26539         9.7484
26746         8.2071
26560       -12.3054
26148        23.9298
26141        37.2302
26392        12.6304
26685        6.27726
26833       -33.8329
27345        20.9364
25971        23.9345
26905        12.6359
27262        31.0048
26745         4.0437
26149        22.1376
26485        14.3204
            ...
26975   -2.58717e-39
27458   -9.00301e-41
26976    -1.4952e-39
27459    1.45687e-40
26601    6.36959e-40
26935   -6.34604e-41
26875   -2.09698e-40
26328    1.50133e-40
26344    1.27732e-40
26933   -9.94775e-41
26974   -2.07415e-40
26934   -4.24549e-41
27457   -2.68089e-41
26600    8.59706e-42
26932   -9.46504e-42
26874   -3.51857e-42
26327    1.90064e-42
26599     5.9869e-43
26597   -5.41429e-44
26326    1.12663e-43
26598    5.63235e-44
26324   -3.33449e-44
26325    2.56947e-45
26873   -8.69672e-44
26596    -1.3022e-44
26323   -4.83737e-45
26872   -1.22419e-44
26870   -6.16503e-45
26871   -3.67336e-45
26869   -4.83315e-46
Length: 1520, dtype: object

In [50]:
cut_percents = [0.5,0.7,0.9]
dtw_score = []
for k in param_grid['K']:
    for alpha in param_grid['alpha']:
        res_info_col = ['on_id','on_seg','y_pred','y_true']
        res_df = pd.DataFrame(columns=res_info_col)
        for on_id in test_id:
            n_seg = len(test_df.loc[on_id])
            for cut_per in cut_percents:
                cur_seg = int(n_seg * cut_per/10)*10 - on_win_size
                tmp_df = dtw_dist_df[(dtw_dist_df['on_id']==on_id) &(dtw_dist_df['on_seg']==cur_seg)].sort_values(by='dist')[:k]
                tmp_rul = sum(tmp_df['his_RUL']*np.exp(-alpha * tmp_df['dist'])/sum(np.exp(-alpha * tmp_df['dist'])))
                #print(cur_seg,tmp_rul, cur_seg+tmp_rul, n_seg - cur_seg - on_win_size)
                res_df= res_df.append(pd.DataFrame([[on_id, cur_seg, tmp_rul, n_seg -cur_seg - on_win_size]],columns = res_info_col))
        dtw_score += [(k, alpha, RHS_score( res_df['y_true'], res_df['y_pred'])/len(res_df['y_pred']))]

In [51]:
dtw_score

[(50, 0, 15.981904912787066),
 (50, 0.5, 10.350215450953211),
 (50, 1, 98.07284389248544),
 (50, 1.5, 349.23805774347414),
 (50, 2, 810.6487973168447),
 (60, 0, 25.729555797930363),
 (60, 0.5, 10.359121261673597),
 (60, 1, 98.07778368830434),
 (60, 1.5, 349.24044146122577),
 (60, 2, 810.6494916761168),
 (70, 0, 42.230516837153154),
 (70, 0.5, 10.350853773820507),
 (70, 1, 98.07704865652961),
 (70, 1.5, 349.2403868833245),
 (70, 2, 810.6494859020087),
 (80, 0, 66.07779456623682),
 (80, 0.5, 10.354131148342173),
 (80, 1, 98.07732170860452),
 (80, 1.5, 349.2404093173371),
 (80, 2, 810.6494875337974),
 (90, 0, 66.07779456623682),
 (90, 0.5, 10.354131148342173),
 (90, 1, 98.07732170860452),
 (90, 1.5, 349.2404093173371),
 (90, 2, 810.6494875337974),
 (100, 0, 66.07779456623682),
 (100, 0.5, 10.354131148342173),
 (100, 1, 98.07732170860452),
 (100, 1.5, 349.2404093173371),
 (100, 2, 810.6494875337974)]

In [165]:
def rul_threshold(x):
    MAX_RUL = 130
    if x >= MAX_RUL:
        return MAX_RUL
    else:
        return x

In [167]:
MAX_RUL = 130
#res_df['y_pred']
res_df['y_pred'] = res_df['y_pred'].apply(lambda x : rul_threshold(x))
res_df['y_true'] = res_df['y_true'].apply(lambda x : rul_threshold(x))
#np.sqrt(sum((res_df['y_pred'] - res_df['y_true'])**2))

In [170]:
np.sqrt(sum((res_df['y_pred'] - res_df['y_true'])**2))

130.30938104203923

In [146]:
cut_percents = [0.5,0.7,0.9]
for on_id in test_id:
    n_seg = len(test_df.loc[on_id])
    print(n_seg)
    for cut_per in cut_percents:
        cur_seg = int(n_seg * cut_per) - 30
        tmp_df = dtw_dist_df[(dtw_dist_df['on_id']==on_id) &(dtw_dist_df['on_seg']<=cur_seg)].sort_values(by='dist')
        tmp_df['time_gap'] = (cur_seg - tmp_df['on_seg']).astype(np.float64)
        tmp_rul = sum((tmp_df['his_RUL'] - tmp_tg)*np.exp(-tmp_df['dist'])*np.exp(-1/tmp_df['time_gap']+0.0001)/sum(np.exp(-tmp_df['dist'])+1)/max(1,sum(np.exp(-1/tmp_df['time_gap']))))
        print(cur_seg,tmp_rul, cur_seg+tmp_rul, n_seg - cur_seg + 30)

240
90 nan nan 180
138 nan nan 132
186 nan nan 84
188
64 nan nan 154
101 nan nan 117
139 nan nan 79
195
67 nan nan 158
106 nan nan 119
145 nan nan 80
214
77 nan nan 167
119 nan nan 125
162 nan nan 82
258
99 nan nan 189
150 nan nan 138
202 nan nan 86
195
67 nan nan 158
106 nan nan 119
145 nan nan 80
170
55 nan nan 145
88 nan nan 112
123 nan nan 77
293
116 nan nan 207
175 nan nan 148
233 nan nan 90
137
38 nan nan 129
65 nan nan 102
93 nan nan 74
202
71 nan nan 161
111 nan nan 121
151 nan nan 81
155
47 nan nan 138
78 nan nan 107
109 nan nan 76
188
64 nan nan 154
101 nan nan 117
139 nan nan 79
137
38 nan nan 129
65 nan nan 102
93 nan nan 74
195
67 nan nan 158
106 nan nan 119
145 nan nan 80
213
76 nan nan 167
119 nan nan 124
161 nan nan 82
200
70 nan nan 160
110 nan nan 120
150 nan nan 80
191
65 nan nan 156
103 nan nan 118
141 nan nan 80
158
49 nan nan 139
80 nan nan 108
112 nan nan 76
199
69 nan nan 160
109 nan nan 120
149 nan nan 80
240
90 nan nan 180
138 nan nan 132
186 0.0012682779804461463 186.00126827798044 84

In [128]:
tmp_df['time_gap']

364     2.1
799     8.1
344     1.1
800     7.1
1349    4.1
1290    0.1
282     0.1
218     1.1
1200    6.1
1221    6.1
1348    5.1
363     3.1
365     1.1
1435    2.1
1223    4.1
258     3.1
1222    5.1
114     0.1
1226    1.1
785     1.1
572     4.1
1080    0.1
1227    0.1
1201    5.1
593     4.1
1352    1.1
680     1.1
1434    3.1
568     8.1
1433    4.1
       ...
506     7.1
1617    9.1
1136    7.1
1619    7.1
1095    6.1
761     4.1
505     8.1
1135    8.1
1618    8.1
488     4.1
1092    9.1
1035    3.1
1094    7.1
1093    8.1
760     5.1
487     5.1
1034    4.1
759     6.1
486     6.1
756     9.1
758     7.1
1033    5.1
483     9.1
757     8.1
485     7.1
484     8.1
1032    6.1
1029    9.1
1031    7.1
1030    8.1
Name: time_gap, Length: 800, dtype: object

In [114]:
pd.DataFrame(cur_seg - tmp_df['on_seg'])

      on_seg
26390    146
26391    136
26747    146
26748    136
27357    136
26538    136
26769    136
27440    146
26810    146
27331    186
26811    136
26770    126
27356    146
26749    126
26307    136
26539    126
26746    156
26560    126
26148     46
26141    116
26392    126
26685    136
26833    126
27345     46
25971    136
26905     36
27262     36
26745    166
26149     36
26485     36
...      ...
26975    176
27458    176
26976    166
27459    166
26601    136
26935    156
26875    126
26328    136
26344    186
26933    176
26974    186
26934    166
27457    186
26600    146
26932    186
26874    136
26327    146
26599    156
26597    176
26326    156
26598    166
26324    176
26325    166
26873    146
26596    186
26323    186
26872    156
26870    176
26871    166
26869    186

[1520 rows x 1 columns]

In [133]:
np.exp(-1/2)

0.6065306597126334